<div class="row">
<div class="span6 offset3">
<% @user.each do |user| %>
<% if current_user.admin? %>
		
		
		<%   if user.id == current_user.id  %>
		
		<%= link_to "Edit",edit_user_registration_path(user) %>
		<% else %>
		<%= link_to "Edit",edit_user_path(user) %>
		<%= link_to "Delete", user,method: :delete,:confirm => 'Are you sure?' %>
		
		
		
		<% end %>
<% end %>
		<%= image_tag(image_display(user), :size=> "70x70") %>
<%= user.email %>
<%= user.name %>
<br>
<% end %>
</div></div>

