<h1>Courses - edit</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for(@course) do |f| %>
<%= render 'shared/error_messages', object: f.object %>


<%= f.label :course_name %>
<%= f.text_field :course_name %>
<%= f.label :course_description %>
<%= f.text_field :course_description %>
<%= f.label :tutor %>
<%= f.text_field :tutor %>

<%= f.submit 'Submit', class: "btn btn-submit btn-primary" %>
<% end %>
</div></div>
