<h1>Courses - edit</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for(@course) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.select :category_id, Category.find(:all).collect{|c| [c.category_name, c.id]}, :prompt => "Pick a Category" %>
<%= f.label :course_name %>
<%= f.text_field :course_name %>
<%= f.label :course_description %>
<%= f.text_field :course_description %>
<%= f.label :tutor %>
<%= f.text_field :tutor %>
<%= image_tag("/uploads/#{@course.course_image}", :size => "50x100") %>


<%= f.file_field :course_image %>
<%= f.submit 'Update', class: "btn btn-submit btn-primary" %>
<% end %>
</div></div>
