<h1>Courses - Insert</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for (@course) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.label "Category" %>
<% categories_array = Category.all.map { |category| [category.category_name, category.id] } %>
<%= select_tag(:id,options_for_select(categories_array))%>

<%= f.label :course_name %>
<%= f.text_field :course_name %>
<%= f.label :course_description %>
<%= f.text_area :course_description %>
<%= f.label :tutor %>
<%= f.text_field :tutor %>
<%= f.file_field :course_image %>
<%= f.submit 'Submit', class: "btn btn-submit btn-primary" %>
<% end %>
</div></div>