<h1>Categories - create</h1>
<div class="row">
  <div class="span6 offset3">
<%= form_for(@category) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :category_name %>
<%= f.text_field :category_name %>
<%= f.submit "Submit"  , class: "btn btn-primary btn-large"  %>
<% end %>
</div></div>
